<div class="posts">
  {{#each posts as |post|}}
  <article class="card">
    <div id="postHeader" class="card-header flex-row justify-space-between">
      <h2>
        <a id="postList" href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.username}} on {{format_date dateCreated}}
      </div>
    </div>
    <div id="postCard" class="card-body">
      {{content}}
    </div>
  </article>
  {{/each}}
</div>